<a href="/admin/postagens/add"><button class= "btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>{{descricao}}</p>
            <small>{{data}}</small><br>
            <small>{{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar postagems</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar postagems</button></a>

        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada!</p>
{{/each}}